@import url('switzer.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: Switzer-Regular,sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
}

@layer components{
    h1{
        @apply text-6xl font-bold;
    }
    h2{
        @apply text-4xl font-semibold;
    }
    h3{
        @apply text-2xl font-semibold;
    }
}

.hero-container{
    @apply min-h-screen bg-black text-white;
}

.section-area{
    @apply px-16
}

.grid-container {
    @apply min-h-screen grid grid-cols-4 grid-rows-4;
}
